$font-size: 16px;

$font-small: .75rem;
$font-normal: 1rem;
$font-medium: 1.25rem;
$font-large: 1.5rem;

$font-lucida: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$font-trebuchet: "Trebuchet MS", Helvetica, sans-serif;

$full-stretch: 100%;

$space-tiny: .75rem;
$space-small: 1rem;
$space-medium: 2rem;
$space-large: 3rem;
$space-huge: 5rem;

$border-gray: 1px solid gray;
$border-silver: 1px solid silver;
$border-blue: 1px solid blue;
