@import 'vars';
@import 'all';

.blur {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(150, 150, 150, 0.5)), url("../images/Allbirds.jpg");
    display: flex;
}

.action-btn {
    display: block;
    margin: auto;
    &:hover {
        background-color: darkgreen;
        color: white;
        cursor: pointer;
    }
}

.main {
    padding: $space-small $space-medium;
    background-color: white;
    opacity: .95;
    border: $border-gray;
    border-radius: .5rem;
    margin: auto;
    align-items: center;

    h2 {
        text-align: center;
    }
    form {
        padding: 0 $space-medium;
        width: 20em;
    }
    .field-container {
        position: relative;
        display: block;
    }
    input {
        height: $space-medium;
        width: $full-stretch;
        padding-left: $space-tiny;
        border: none;
        border-bottom: $border-silver;
        border-left: $border-silver;
        display: block;
        margin: 0 auto 1.5em auto;
        transition: border 1s;
        font-size: $font-medium;
        &:focus {
            border-bottom: $border-blue;
            border-left: $border-blue;
        }
        &.error {
            border: 1px solid red;
            animation: shake 0.6s cubic-bezier(.36, .07, .19, .97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;

            @keyframes shake {
                10%, 90% {
                    transform: translate3d(-1px, 0, 0);
                }
                20%, 80% {
                    transform: translate3d(2px, 0, 0);
                }
                30%, 50%, 70% {
                    transform: translate3d(-4px, 0, 0);
                }
                40%, 60% {
                    transform: translate3d(4px, 0, 0);
                }
            }
        }
    }
    label {
        padding-left: $space-tiny;
        text-transform: uppercase;
        font-family: $font-trebuchet;
        font-size: $font-small;
        color: gray;
    }
    sup {
        color: red;
        font-size: $font-small;
    }
    .popup {
        animation: fadein 1s;
        position: absolute;
        background: whitesmoke;
        border: $border-silver;
        top: .25rem;
        left: 21rem;
        width: 11rem;
        padding: $space-tiny;
        border-radius: .5rem;
        &:after, &:before {
            right: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        &:after {
            border-right-color: whitesmoke;
            border-width: 9px;
            margin-top: -9px;
        }
        &:before {
            border-right-color: silver;
            border-width: 10px;
            margin-top: -10px;
        }
        @keyframes fadein {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
    }
    .password-popup {
        top: -3rem;
        width: 20rem;
    }
}
